body {
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

header {
    border-bottom: 2px solid black;
    font-size: 36px;
    padding: 40px 0 0 40px;
    padding-bottom: 0;
}
/* 
main {
    display: flex;
} */

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    position: sticky;
    font-size: 18px;
    padding-left: 40px;
}